@use "../abstracts/" as *;

main {
  .rating {
    width: clamp(19rem, 35vw, 50rem);
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 4vh;
    background-color: $darkBlue;
    padding: 5vh 3vw;
    border-radius: 15px;
    .star-icon {
      background-color: $vdBlue;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 45%;
        height: auto;
      }
    }
    .content {
      .title {
        font-weight: $weight700;
      }
      .desc {
        color: $lightGrey;
      }
    }
    .ratings {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: clamp(2vw, 2vw, 4vw);
      button {
        background-color: $vdBlue;
        border: none;
        color: $lightGrey;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-weight: $weight700;
        cursor: pointer;
        &:hover {
          background-color: $orange;
          color: $vdBlue;
          transition: 0.5s ease;
        }
        &:focus {
          background-color: $white;
          color: $vdBlue;
        }
      }
    }
    .submit-btn {
      width: 100%;
      padding: 2vh 0;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      font-weight: $weight700;
      color: $darkBlue;
      background-color: $orange;
      border: 0;
      border-radius: 25px;
      cursor: pointer;
      &:hover {
        background-color: $white;
        transition: 0.5s ease;
      }
    }
  }
}
